extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="Torre Eiffel", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor lectus facilisis sapien congue, eu dignissim orci placerat. Praesent ipsum ante, finibus nec lacus sed, varius suscipit velit. Mauris nec felis finibus, cursus orci sed, mollis urna. Pellentesque ornare dapibus augue et bibendum. Nam ornare mollis metus, nec dignissim nulla hendrerit ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. .

                p Ut vitae nulla justo. Vestibulum tempor est non augue iaculis, ut hendrerit dolor consectetur. Sed et arcu tortor. Fusce elit purus, dapibus quis orci eu, placerat semper tortor. Cras augue nisi, dapibus ut augue .

                p Quisque cursus finibus elit non blandit. Nullam tempus sit amet felis ut tincidunt. Pellentesque tempus urna eros. Maecenas auctor nunc eu justo viverra gravida. Suspendisse non dignissim tellus.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Maecenas auctor nunc eu justo viverra gravida. Suspendisse non dignissim tellus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Maecenas auctor nunc eu justo viverra gravida. Suspendisse non dignissim tellus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios 
                    p Maecenas auctor nunc eu justo viverra gravida. Suspendisse non dignissim tellus.
                    
 
